---
interface Stat {
  value: string;
  label: string;
}

interface Props {
  heading?: string;
  stats: Stat[];
}

const {
  heading = "Trusted by Thousands",
  stats = [],
} = Astro.props;
---

<section class="w-full bg-[#EBF3FF] py-12 md:py-16 xl:py-25">
  <div class="container">

    {heading && (
      <h2 class="mb-6 md:mb-10 xl:mb-16 text-center text-2xl font-bold text-[#00255C] sm:text-3xl lg:text-5xl xl:text-6xl">
        {heading}
      </h2>
    )}

    <div class="grid sm:grid-cols-2 gap-4 sm:gap-5 md:grid-cols-4 lg:gap-6 xl:gap-10">
      {stats.map((stat) => (
        <div class="flex flex-col items-center justify-center gap-2 rounded-2xl bg-[#1A3DAA] p-5 lg:p-7 text-center">
          <span class="text-2xl font-bold text-[#f2f7ed] sm:text-4xl lg:text-5xl xl:text-[56px] leading-8 sm:leading-12 lg:leading-16">
            {stat.value}
          </span>
          <span class="font-medium text-[#f2f7ed] text-base lg:text-xl">
            {stat.label}
          </span>
        </div>
      ))}
    </div>

  </div>
</section>
