---
interface Props {
  heading?: string;
  paragraphs?: string[];
}

const {
  heading = "",
  paragraphs = [],
} = Astro.props;
---

<section class="w-full bg-white py-10 lg:py-16 xl:py-24">
  <div class="container">
    <div class="text-center">

      {heading && (
        <h2 class="mb-6 font-bold text-[#00255C] text-3xl">
          {heading}
        </h2>
      )}

      <div class="space-y-5 text-lg text-[#363636] md:text-2xl">
        {paragraphs.map((paragraph) => (
          <p>{paragraph}</p>
        ))}
      </div>

    </div>
  </div>
</section>
